@import config
.container-l
  @extend .container
  max-width: 1180px
.header
  min-height: 110px
  &__logo
  &__right
    &_btn
      display: inline-block
      padding: 12px 40px
      border-radius: 5px
      font-size: 1.4em
      font-weight: bold
      border: 2px solid $textcolor
      text-decoration: none
      color: $textcolor
      &:hover
        text-decoration: none
        color: $textcolor
  &__menu
    ul
      display: flex
      list-style: none
      li
        margin: 0px 30px
        a
          text-decoration: none
          color: $textcolor
          font-size: 1.6em
          font-weight: 600
          &:hover
            text-decoration: none
.banner
  &__bg
    position: relative
    background: url("../images/dest/banner_bg.png") 0 0 no-repeat
    width: 100%
  &__descr
    position: absolute
    left: 198px
    bottom: 168px
    max-width: 600px
    h1
      font-size: 6.4em
      font-weight: bold
      line-height: 72px
    p
      margin-top: 26px
      font-size: 2.4em
      line-height: 36px
    &_btn
      margin-top: 46px
      display: inline-block
      padding: 24px 80px
      border-radius: 5px
      font-size: 1.6em
      font-weight: bold
      text-decoration: none
      background-color: $activecolor
      color: white
      &:hover
        text-decoration: none
        color: white
.features
  margin-top: 100px
  &__left
    h2
      font-weight: bold
      font-size: 4em
      line-height: 48px
    p
      font-size: 2em
      line-height: 32px
  &__right
    h3
      font-size: 2.4em
      font-weight: bold
      line-height: 32px
    p
      font-size: 1.8em
      line-height: 28px
.promo
  background-color: $activecolor
  &__inner
    &_content
      text-align: center
    &_bg
      background: url("../images/dest/promo_bg.png") 0 bottom no-repeat
      min-height: 915px
      min-width: 1170px
    h2
      font-weight: bold
      font-size: 4em
      line-height: 48px
      color: white
.why
  &__box
    max-width: 440px
    max-height: 477px
    box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15)
    border-radius: 20px
    border: 5px solid $bordercolor
    background-color: white
.calc
  &__inner
    min-height: 495px
    background: url("../images/dest/calc-bg.png") left center no-repeat
    background-color: #eff7ff
    border: 2px solid #ffffff
    border-radius: 15px
.stack
  min-height: 346px
  background-color: #eff7ff





